<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="person" >
    <% if notice %>
      <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
        <p class="font-bold">Informational message</p>
        <p class="text-sm notice" data-person-target="notice"><%= notice %></p>
      </div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">      
      <%= yield %>
    </main>
  </body>
</html>
